.subContent {
    margin: 20px;
}

.itemControl {
    overflow: auto;
    padding: 5px;
}

md-form-field {
    font-size: 16px;
}

.cartSelection {
    float: right; 
}

.cartSelection div {
    float: left; 
}

.visibility {
    margin-right: 5px;
}

.longText {
    width: 250px;
}

.schedule {
    width: 275px;
}

.shortText {
    width: 120px;
}

.note {
    font-size: 16px;
}