<ng-container *ngFor="let booking of DL.ServiceReservationUser">
  <div class="item">
    <div class="itemHeader">
      <div class="itemName">{{ booking.Status }} ( <span class="mainColor">{{ GetDate(booking.ActionDate) | date : 'short' }}</span> )</div>
    </div>
    <div class="subContent">
      <div>
        <md-form-field class="longText">
          <input id="txtService" readonly mdInput placeholder="Service" [(ngModel)]="booking.Name" />
        </md-form-field>
      </div>
      <ng-container *ngIf="booking.BookingType == DL.BOOKING_TYPE_DAY; else elseHour">
        <div>
            <md-form-field class="longText">
              <input id="txtDate" readonly mdInput placeholder="Date Range" value="{{ GetDay(booking.From) | date : 'mediumDate' }} to {{ GetDay(booking.To) | date : 'mediumDate' }}" />
            </md-form-field>
        </div>
      </ng-container>
      <ng-template #elseHour>
        <div>
          <md-form-field class="schedule">
            <input id="txtDate" readonly mdInput placeholder="Schedule" value="{{ GetDay(booking.From) | date : 'mediumDate' }} @ {{ GetSchedule(booking) }}" />
          </md-form-field>
        </div>
      </ng-template>
      <div *ngIf="booking.Price != null && booking.Price > 0">
        <md-form-field class="shortText">
          <input id="txtPrice" readonly mdInput placeholder="Price" value="{{ DL.CURRENCY }} {{ booking.Price | number:'1.2-2' }}" />
        </md-form-field>
      </div>
      <div>
        <md-form-field class="shortText">
          <input id="txtQuantity" readonly mdInput placeholder="{{ booking.BookingType == DL.BOOKING_TYPE_DAY ? 'Number of days' : 'Number of hours' }}" [(ngModel)]="booking.Count" />
        </md-form-field>
      </div>
      <div *ngIf="booking.Price != null && booking.Price > 0">
        <md-form-field class="shortText">
          <input id="txtTotal" readonly mdInput placeholder="Total" value="{{ DL.CURRENCY }} {{ booking.Count * booking.Price | number:'1.2-2' }}" />
        </md-form-field>
      </div>
      <div *ngIf="booking.Note != ''">
        <div class="note">Note</div>
        <div class="mainColor">
          {{ booking.Note }}
        </div>
      </div>
      <div class="hSpacer"></div>
      <div class="itemControl mainColor">
        <div class="cartSelection">
          <div class="visibility" *ngIf="IsDoneVisible(booking)">
            <button md-raised-button (click)="SetStatusDone(booking)">
              <md-icon>visibility_off</md-icon>
              <span>Finished</span>
            </button>
          </div>
          <button md-raised-button (click)="ViewStatus(booking)">
            <md-icon>event_note</md-icon>
            <span>Check details</span>
          </button>
        </div>
      </div>
      <div class="vSmallSpacer"></div>
    </div>
  </div>
</ng-container>
<div class="rightRow mainColor">
  <button md-raised-button (click)="LoadList()" mdTooltip="Go to reservation" mdTooltipPosition="above">
    <md-icon>event</md-icon>
    <span>Go to reservation</span>
  </button>
</div>