# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Do not merge files
/src/index.html merge=ours
/src/environments/* merge=ours
/src/assets/*.png merge=ours
database.rules.json merge=ours
.firebaserc merge=ours
.angular-cli.json merge=ours
favicon.xcf merge=ours