<div>
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Date
        </th>
        <th class="rightRow">
          Action
        </th>
      </tr>
    </thead>
    <ng-container *ngFor="let item of subscribers">
      <tr>
        <td>
          {{ item.Name }}
        </td>
        <td>
          {{ GetDate(item.Value2) | date : 'short' }}
        </td>
        <td class="rightRow">
          <button md-mini-fab color="warn" [disabled]="!DL.UserAccess.SubscriptionSubscriberDelete" (click)="Delete(item)" mdTooltip="Delete" mdTooltipPosition="above"><md-icon>delete</md-icon></button>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
<div class="hSpacer"></div>
<table>
  <tr class="rightRow">
    <td class="selectionRow">
      <md-select [disabled]="!this.DL.UserAccess.SubscriptionSubscriberAdd" placeholder="Member" class="longText" [(ngModel)]="selectedMember">
        <ng-container *ngFor="let member of this.DL.Members">
          <md-option *ngIf="!Exists(member)" [value]="member">
            {{ member.Name }}
          </md-option>
        </ng-container>
      </md-select>
    </td>
    <td></td>
  </tr>
  <tr class="rightRow">
    <td>
      <button md-fab (click)="AddItem()" [disabled]="!this.DL.UserAccess.SubscriptionSubscriberAdd || !this.selectedMember" mdTooltip="Add" mdTooltipPosition="above"><md-icon>note_add</md-icon></button>
    </td>
    <td style="width: 50%">
      <button *ngIf="CanSave()" md-fab (click)="Save()" mdTooltip="Save" mdTooltipPosition="above"><md-icon>save</md-icon></button>
      <button md-fab (click)="LoadList()" mdTooltip="Back to list" mdTooltipPosition="above"><md-icon>assignment_return</md-icon></button>
    </td>
  </tr>
</table>