<div>
    <table>
      <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
            Date
          </th>
          <th>
            Order
          </th>
          <th class="rightRow">
            Action
          </th>
        </tr>
      </thead>
      <ng-container *ngFor="let item of DL.Articles">
        <tr>
          <td>
            {{ item.Title}}
          </td>
          <td>
            {{ GetDate(item.ActionDate) | date : 'short' }}
          </td>
          <td>
            {{ item.Order }}
          </td>
          <td class="rightRow">
            <button md-mini-fab (click)="SelectItem(item)" mdTooltip="View" mdTooltipPosition="above"><md-icon>pageview</md-icon></button>
          </td> 
        </tr>
      </ng-container>
    </table>
    <div class="hSpacer"></div>
    <div class="rightRow">
      <button md-fab (click)="AddItem()" [disabled]="!DL.UserAccess.ArticleAdd" mdTooltip="Add" mdTooltipPosition="above"><md-icon>note_add</md-icon></button>
    </div>
  </div>