<div>
  <div class="item">
    <div class="itemHeader">
      <div class="itemName">Items</div>
    </div>
    <div class="itemSub">
      <table>
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Description
            </th>
            <th class="totalColumn">
              Price / QTY
            </th>
            <th class="totalColumn">
              Total
            </th>
          </tr>
        </thead>
        <ng-container *ngFor="let info of DL.Transaction.Items; let num = index;">
          <tr>
            <td>
              {{ (info.Price) ? num+1 : '' }}
            </td>
            <td>
              {{ info.Description }}
            </td>
            <td class="totalColumn">
              {{ info.Price | number:'1.2-2' }} x {{ info.Quantity }}
            </td>
            <td class="totalColumn">
              {{ info.Total | number:'1.2-2' }}
            </td>
          </tr>
        </ng-container>
        <tr class="blankCell">
          <td></td>
          <td>
            Total
          </td>
          <td class="totalColumn">
            {{ DL.Transaction.Count }}
          </td>
          <td class="totalColumn">
            {{ DL.Transaction.Amount | number:'1.2-2' }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <md-form-field class="longText">
      <input id="txtMember" readonly mdInput placeholder="Member" [(ngModel)]="DL.Transaction.BuyerName" />
    </md-form-field>
  </div>
  <div>
    <md-form-field class="longText">
      <input id="txtUser" readonly mdInput placeholder="User" [(ngModel)]="DL.Transaction.UserName" />
    </md-form-field>
  </div>
  <div>
    <md-form-field class="longText">
      <input id="txtSource" readonly mdInput placeholder="Source" [(ngModel)]="DL.Transaction.Source" />
    </md-form-field>
  </div>
  <div>
    <md-checkbox disabled [(ngModel)]="DL.Transaction.IsDelivered">From Delivery</md-checkbox>
  </div>
  <div class="hSpacer"></div>
  <table>
    <tr *ngIf="FromList()" class="rightRow">
      <td class="selectionRow">
        <md-form-field class="longText">
          <input id="txtDescription" [disabled]="!DL.UserAccess.ProductCancel" mdInput placeholder="Reason for cancel" [(ngModel)]="description" />
        </md-form-field>
      </td>
      <td></td>
    </tr>
    <tr class="rightRow">
      <td *ngIf="FromList()">
        <button md-fab [disabled]="!description || !DL.UserAccess.ProductCancel" (click)="Cancel()" mdTooltip="Cancel transaction" mdTooltipPosition="above"><md-icon>restore</md-icon></button>
      </td>
      <td>
        <button md-fab (click)="LoadList()" mdTooltip="Back to list" mdTooltipPosition="above"><md-icon>assignment_return</md-icon></button>
      </td>
    </tr>
  </table>
</div>