md-form-field {
    font-size: 16px;
}

.imageContainer {
    position: relative;
    min-height: 100px;
}

.imageEdit {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 3px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}

textarea {
    height: 70px;
}

.fullWidth {
    width: 100%;
}

.shortText {
    width: 120px;
}