<div>
  <table>
    <thead>
      <tr>
        <th>
          Description
        </th>
        <th>
          Date
        </th>
        <th>
          User
        </th>
        <th class="totalColumn">
          Amount
        </th>
        <th class="rightRow">
          Action
        </th>
      </tr>
    </thead>
    <ng-container *ngFor="let info of DL.TransactionCancels">
      <tr>
        <td>
          {{ info.Description }}
        </td>
        <td>
          {{ GetDate(info.ActionDate) | date : 'short' }}
        </td>
        <td>
          {{ info.UserName }}
        </td>
        <td class="totalColumn">
          {{info.Transaction.Amount | number:'1.2-2'}}
        </td>
        <td class="rightRow">
          <button md-mini-fab [disabled]="!DL.UserAccess.TransactionDetail" (click)="SelectTransaction(info)" mdTooltip="View"><md-icon>pageview</md-icon></button>
        </td>
      </tr>
    </ng-container>
  </table>
  <div class="hSpacer"></div>
  <table>
    <tr class="rightRow">
      <td class="selectionRow">
        <md-select [disabled]="!DL.UserAccess.ReportSearch" placeholder="Year" [(ngModel)]="yearSelected">
          <md-option *ngFor="let year of DL.ReportYears" [value]="year">
            {{year}}
          </md-option>
        </md-select>
        <md-select [disabled]="!DL.UserAccess.ReportSearch" placeholder="Month" [(ngModel)]="monthSelected">
          <md-option *ngFor="let month of DL.Months" [value]="month.Value">
            {{month.Name}}
          </md-option>
        </md-select>
      </td>
    </tr>
    <tr class="rightRow">
      <td>
        <button md-fab (click)="Filter()" mdTooltip="View" mdTooltipPosition="above"><md-icon>search</md-icon></button>
      </td>
    </tr>
  </table>
</div>