<div>
  <div>
    <md-form-field class="shortText">
      <input id="txtCode" mdInput placeholder="Code" [(ngModel)]="model.Code" (change)="CodeChange()" [formControl]="codeValidator" />
      <md-error *ngIf="codeValidator.hasError('required')">
        Code is <strong>required</strong>
      </md-error>
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input id="txtName" mdInput placeholder="Name" [(ngModel)]="model.Name" [formControl]="nameValidator" />
      <md-error *ngIf="nameValidator.hasError('required')">
        Name is <strong>required</strong>
      </md-error>
    </md-form-field>
  </div>
  <div>
    <md-form-field class="fullWidth">
      <textarea id="txtDescrption" mdInput placeholder="Description" [(ngModel)]="model.Description"></textarea>
    </md-form-field>
  </div>
  <div>
    <md-form-field class="shortText">
      <input id="txtPrice" type="number" mdInput placeholder="Price" [(ngModel)]="model.Price" [formControl]="priceValidator" />
      <md-error *ngIf="priceValidator.hasError('required')">
        Price is <strong>required</strong>
      </md-error>
    </md-form-field>
  </div>
  <div class="imageContainer">
    <img class="fullWidth" src="{{model.ImageURL}}" (load)="ImageLoaded()">
    <div class="imageEdit" [hidden]="!isLoaded" (click)="SelectFile()">Update Picture</div>
  </div>
  <div class="hSpacer"></div>
  <div class="rightRow">
    <button md-fab (click)="Save()" [disabled]="!CanSave()" mdTooltip="Save" mdTooltipPosition="above"><md-icon>save</md-icon></button>
    <button md-fab (click)="LoadList()" mdTooltip="Back to list" mdTooltipPosition="above"><md-icon>assignment_return</md-icon></button>
  </div>
</div>