button {
    font-size: 12px;
}

.message {
    overflow: auto;
}

button:disabled {
    color: #009688;
}

.conversations {
    width: 33%;
    height: 300px;
    overflow-x: auto;
    border: 1px solid #eeeeee;
    float: left;
}

.chat {
    width: 65%;
    float: right;
}

.convo {
    height: 243px;
    overflow-x: auto;
    border: 1px solid #eeeeee;
    padding: 3px;
}

.fromYou {
    color: #009688;
    text-align: right;
}

.fromConvo {
    color: #000000;
    text-align: left;
}

md-form-field {
    font-size: 16px;
}

.fullWidth {
    width: 100%;
}