::ng-deep snack-bar-container.snackBarclass {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}
  
::ng-deep .snackBarclass .mat-simple-snackbar {
    color: #2196f3;
}

::ng-deep .snackBarclass .mat-simple-snackbar-action {
    font-weight: bold;
    font-size: 14px;
}

::ng-deep snack-bar-container.snackBarclassLong {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}
  
::ng-deep .snackBarclassLong .mat-simple-snackbar {
    color: #FF0000;
}

::ng-deep .snackBarclassLong .mat-simple-snackbar-action {
    font-weight: bold;
    font-size: 14px;
}

.brand {
    float: right;
    font-size: 9px;
    color: silver;
    margin-right: 5px;
}

.brand a {
    text-decoration: none;
    font-size: 9px;
    color: silver;
    font-weight: bold;
}

.infoFrame {
    width: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.imageFooter {
    height: 45px;
}

.imageFooter img {
    width: 67px;
}

.infoBox {
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
    background-color: #ffffff;
}

.infoBox div {
    width: 100%;
    font-size: 16px;
}

.close {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.headerToolbar {
    height: 50px;
    width: 100%;
}

.gallery {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}

.gallery .slides {
    text-align: center;
}

.galleryClose {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.fullWidth {
    width: 100%;
}