<div class="navbar">
  <div class="left">
    <div>
      <button md-icon-button (click)="ToggleNav()" mdTooltip="Open menu" mdTooltipPosition="below">
        <md-icon>menu</md-icon>
      </button>
    </div>
    <div>
      {{ DL.SystemSetting.Name }}
    </div>
    <div (window:resize)="onResize($event)">
      <div style="width: 50px;"></div>
      <button md-button *ngIf="DL.ShowCaseTodayCount > 0 && DL.ViewWidth > 475" (click)="LoadFromHeader('website-catalog')" mdTooltip="View catalog" mdTooltipPosition="below">
        <md-icon>add_shopping_cart</md-icon>
        <span>Catalog</span>
      </button>
      <button md-button *ngIf="DL.ServiceTodayCount > 0 && DL.ViewWidth > 600" (click)="LoadFromHeader('website-reservation')" mdTooltip="View services" mdTooltipPosition="below">
        <md-icon>event</md-icon>
        <span>Reserve</span>
      </button>
      <button md-button *ngIf="DL.ServiceReservationUserHasItem && DL.ViewWidth > 700" (click)="LoadFromHeader('service-booking')" mdTooltip="View booking" mdTooltipPosition="below">
        <md-icon>bookmark_border</md-icon>
        <span>Booking</span>
      </button>
    </div>
  </div>
  <div class="right">
    <div>
      <ng-container *ngIf="DL.ShowcaseUserHasOpenCart">
        <button md-icon-button (click)="LoadFromHeader('showcase-cart')" mdTooltip="Open cart" mdTooltipPosition="below">
          <md-icon>shopping_cart</md-icon>
        </button>
      </ng-container>
    </div>
    <div>
      <ng-container *ngIf="DL.User.UID; else showLogin">
        <button md-icon-button (click)="LoadFromHeader('user-update')" class="title" mdTooltip="Update Profile" mdTooltipPosition="below">
          <img md-card-avatar src="{{DL.User.SystemImageURL}}"> 
        </button>
      </ng-container>
      <ng-template #showLogin>
        <div class="mainColor">
          <ng-container *ngIf="DL.ShowLogin">
            <button md-raised-button (click)="Login()">
              <md-icon>lock_open</md-icon>
              <span>Log In</span>
            </button>
          </ng-container>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div class="overlay" [style.width]="navWidth" (click)="ToggleNav()">
  <div class="navSide">
    <div class="vBigSpacer">
      <md-menu #menu="mdMenu"></md-menu>
    </div>
    <button md-menu-item (click)="LoadPage('website-home')">
      <md-icon>home</md-icon>
      <span>Home</span>
    </button>
    <button *ngIf="DL.ShowCaseTodayCount > 0 && DL.ViewWidth <= 475" md-menu-item (click)="LoadPage('website-catalog')">
      <md-icon>add_shopping_cart</md-icon>
      <span>Catalog</span>
    </button>
    <button *ngIf="DL.ServiceTodayCount > 0 && DL.ViewWidth <= 600" md-menu-item (click)="LoadPage('website-reservation')">
      <md-icon>event</md-icon>
      <span>Reserve</span>
    </button>
    <ng-container *ngIf="DL.ArticleCount > 0">
      <button md-menu-item (click)="LoadPage('website-article')">
        <md-icon>event_note</md-icon>
        <span>Publication</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.GalleryCount > 0">
      <button md-menu-item (click)="LoadPage('website-gallery')">
        <md-icon>photo_library</md-icon>
        <span>Gallery</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.MessageView">
      <button md-menu-item (click)="LoadPage(DL.UserAccess.MessageManage ? 'message-list' : 'message-message')">
        <md-icon>message</md-icon>
        <span>Message</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.ShowcaseUserHasOrder">
      <button md-menu-item (click)="LoadPage('showcase-cart')">
        <md-icon>shopping_cart</md-icon>
        <span>Cart</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.ServiceReservationUserHasItem && DL.ViewWidth <= 700">
      <button md-menu-item (click)="LoadPage('service-booking')">
        <md-icon>bookmark_border</md-icon>
        <span>Booking</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.MemberView">
      <button md-menu-item (click)="LoadPage('member-list')">
        <md-icon>account_box</md-icon>
        <span>Member</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ProductView">
      <button md-menu-item (click)="LoadPage('product-list')">
        <md-icon>card_giftcard</md-icon>
        <span>Product</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.BorrowView">
      <button md-menu-item (click)="LoadPage('user-borrow')">
        <md-icon>repeat</md-icon>
        <span>Borrow</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ServiceView">
      <button md-menu-item (click)="LoadPage('service-list')">
        <md-icon>room_service</md-icon>
        <span>Service</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.SubscriptionView">
      <button md-menu-item (click)="LoadPage('subscription-list')">
        <md-icon>card_membership</md-icon>
        <span>Subscription</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ShowcaseView">
      <button md-menu-item (click)="LoadPage('showcase-list')">
        <md-icon>shop</md-icon>
        <span>Showcase</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.SellView">
      <button md-menu-item (click)="LoadPageWithNullSelectedUser('product-sell')">
        <md-icon>payment</md-icon>
        <span>Sell</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.SellManageSeller">
      <button md-menu-item (click)="LoadPage('user-seller')">
        <md-icon>list</md-icon>
        <span>Seller</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.DeliveryView">
      <button md-menu-item (click)="LoadPage('delivery-list')">
        <md-icon>local_shipping</md-icon>
        <span>Delivery</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ShowcaseOrderView">
      <button md-menu-item (click)="LoadPage('product-order')">
        <md-icon>web</md-icon>
        <span>Order</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ServiceReservationView">
      <button md-menu-item (click)="LoadPage('service-reservation')">
        <md-icon>book</md-icon>
        <span>Reservation</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.TransactionView">
      <button md-menu-item (click)="LoadPage('transaction-list')">
        <md-icon>receipt</md-icon>
        <span>Transaction</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ExpenseView">
      <button md-menu-item (click)="LoadPage('report-expense')">
        <md-icon>broken_image</md-icon>
        <span>Expense</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ProductCancelView">
      <button md-menu-item (click)="LoadPage('transaction-cancel')">
        <md-icon>restore</md-icon>
        <span>Cancelled</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ReportView">
      <button md-menu-item (click)="LoadPage('report-list')">
        <md-icon>trending_up</md-icon>
        <span>Cashflow</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ReportBalanceSummaryView">
      <button md-menu-item (click)="LoadPage('report-balancing')">
        <md-icon>assignment</md-icon>
        <span>Balancing</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.SnapshotView">
      <button md-menu-item (click)="LoadPage('snapshot-list')">
        <md-icon>photo_camera</md-icon>
        <span>Snapshot</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.GalleryView">
      <button md-menu-item (click)="LoadPage('gallery-list')">
        <md-icon>photo_library</md-icon>
        <span>Pictures</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ArticleView">
      <button md-menu-item (click)="LoadPage('article-list')">
        <md-icon>event_note</md-icon>
        <span>Article</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.UserView">
      <button md-menu-item (click)="LoadPage('user-list')">
        <md-icon>supervisor_account</md-icon>
        <span>User</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.AccessView">
      <button md-menu-item (click)="LoadPage('access-list')">
        <md-icon>accessibility</md-icon>
        <span>Access</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.ModuleSettingView">
      <button md-menu-item (click)="LoadPage('setting-module')">
        <md-icon>settings</md-icon>
        <span>Module</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.UserAccess.SystemSettingView">
      <button md-menu-item (click)="LoadPage('setting-system')">
        <md-icon>settings_applications</md-icon>
        <span>System</span>
      </button>
    </ng-container>
    <ng-container *ngIf="DL.User.UID && DL.UserAccess.CanLogout">
      <button md-menu-item (click)="DA.LogOut()">
        <md-icon>exit_to_app</md-icon>
        <span>Log Out</span>
      </button>
    </ng-container>
    <ng-container *ngIf="!DL.User.UID">
      <button md-menu-item (click)="LoadPage('user-login')">
        <md-icon>lock_open</md-icon>
        <span>Log In</span>
      </button>
    </ng-container>
    <div class="vMediumSpacer"></div>
  </div>
</div>
<div class="divBody">
  <div class="vBigSpacer"></div>
  <div class="main">
    <div class="toolbar">
      <div class="header">{{ DL.TITLE }}</div>
    </div>
    <div class="inside">
      <div class="vSmallSpacer"></div>
      <ng-container #viewChild></ng-container>
    </div>
  </div>
  <div class="footer">
    <div class="imageFooter"><img *ngIf="DL.SystemSetting.ShowFooterLogo" md-card-avatar src="assets/favicon-192x192.png"></div>
    <div>{{ DL.SystemSetting.Footer }}</div>
    <div class="brand">Powered by <a href="mailto:emmanuel.salunga@gmail.com">ecsalunga</a></div>
  </div>
</div>
<div class="loading" [style.width]="loader">
  <div *ngIf="!isLoaded" class="loaderFrame">
    <div class="loader"></div>
    <div class="loaderFooter">
      Loading Resources...
    </div>
  </div>
  <div *ngIf="showInfo" class="infoFrame">
      <div class="close">
        <button md-mini-fab (click)="HideInfo()">
          <md-icon>close</md-icon>
        </button>
      </div>
    <div class="infoBox">
      <div class="vMediumSpacer"></div>
      <div>
          {{ DL.UserShowInfo.Name }}
      </div>
      <div>
          {{ DL.UserShowInfo.Email }}
      </div>
      <div>
          {{ DL.UserShowInfo.Address1 }} {{ DL.UserShowInfo.Address2 }}
      </div>
      <div>
         {{ DL.UserShowInfo.Contact1 }} {{ DL.UserShowInfo.Contact2 }}
      </div>
      <div *ngIf="DL.UserShowInfo.ActionDate != null">
        Last login: {{ GetDate(DL.UserShowInfo.ActionDate) | date : 'short' }}
      </div>
    </div>
  </div>
  <div *ngIf="showGallery" class="gallery">
    <div class="headerToolbar">
      <div class="galleryClose">
        <button md-mini-fab (click)="HideGallery()">
          <md-icon>close</md-icon>
        </button>
      </div>
    </div>
    <div class="slides"> 
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
  </div>
</div>
<input #imageSelector id="file" [hidden]="true" type="file" accept="image/*">
<div [hidden]="true">
  <md-card>
    <md-card-content>
    </md-card-content>
  </md-card>
</div>