<div>
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Active
        </th>
        <th>
          Order
        </th>
        <th class="rightRow">
          Action
        </th>
      </tr>
    </thead>
    <ng-container *ngFor="let item of DL.Galleries">
      <tr>
        <td>
          {{ item.Name }}
        </td>
        <td class="{{ (Active(item) == 'Yes') ?  'good' : 'bad' }}">
          {{ Active(item) }}
        </td>
        <td>
          {{ item.Order }}
        </td>
        <td class="rightRow">
          <button md-mini-fab [disabled]="!DL.UserAccess.GalleryPhotoView" (click)="SelectPhoto(item)" mdTooltip="Photos"><md-icon>photo_library</md-icon></button>
          <button md-mini-fab (click)="SelectItem(item)" mdTooltip="View" mdTooltipPosition="above"><md-icon>pageview</md-icon></button>
        </td>
      </tr>
    </ng-container>
  </table>
  <div class="hSpacer"></div>
  <div class="rightRow">
    <button md-fab (click)="AddItem()" [disabled]="!DL.UserAccess.GalleryAdd" mdTooltip="Add" mdTooltipPosition="above"><md-icon>note_add</md-icon></button>
  </div>
</div>