<div>
  <div class="item">
    <div class="itemHeader">
      <div class="itemName">{{ model.Name }}</div>
    </div>
    <div class="itemDescription">
      {{ model.Description }}
    </div>
    <div class="imageContainer">
      <img class="fullWidth" src="{{model.ImageURL}}" />
    </div>
    <div class="itemControl">
      <ng-container *ngIf="!isReserving; else dataReserving;">
        <div *ngIf="model.Price != null && model.Price > 0" class="cartPrice mainColor">
          {{ DL.CURRENCY }} {{ model.Price | number:'1.2-2' }}
        </div>
        <div class="vMediumSpacer"></div>
        <div>
          <div>
            <md-form-field class="date">
              <input mdInput [mdDatepicker]="from" placeholder="From Day" [(ngModel)]="FromDate">
              <md-datepicker-toggle mdSuffix [for]="from"></md-datepicker-toggle>
              <md-datepicker #from></md-datepicker>
            </md-form-field>
            <ng-container *ngIf="model.BookingType == DL.BOOKING_TYPE_DAY; else elseHour">
              <md-form-field class="date">
                <input mdInput [mdDatepicker]="to" placeholder="To Day" [(ngModel)]="ToDate">
                <md-datepicker-toggle mdSuffix [for]="to"></md-datepicker-toggle>
                <md-datepicker #to></md-datepicker>
              </md-form-field>
            </ng-container>
          </div>
          <ng-template #elseHour>
            <div>
              <md-select class="hour" placeholder="From Hour" [(ngModel)]="fromHour">
                <md-option *ngFor="let hour of DL.Hours" [value]="hour.Value">
                  {{ hour.Name }}
                </md-option>
              </md-select>
              <md-select class="hour" placeholder="To Hour" [(ngModel)]="toHour">
                <md-option *ngFor="let hour of DL.Hours" [value]="hour.Value">
                  {{ hour.Name }}
                </md-option>
              </md-select>
            </div>
            <div class="vSmallSpacer"></div>
          </ng-template>
        </div>
        <div *ngIf="DL.UserAccess.ServiceReserveMember">
          <md-select class="longText" placeholder="Member" [(ngModel)]="selectedMember">
            <md-option *ngFor="let member of DL.Members" [value]="member">
              {{ member.Name }}
            </md-option>
          </md-select>
        </div>
      </ng-container>
      <ng-template #dataReserving>
        <ng-container *ngIf="model.BookingType == DL.BOOKING_TYPE_DAY; else elseHourReserving">
          <div>
            <md-form-field class="longText">
              <input id="txtDate" readonly mdInput placeholder="Date Range" value="{{ FromDate | date : 'mediumDate' }} to {{ ToDate | date : 'mediumDate' }}" />
            </md-form-field>
          </div>
        </ng-container>
        <ng-template #elseHourReserving>
          <div>
            <md-form-field class="schedule">
              <input id="txtDate" readonly mdInput placeholder="Schedule" value="{{ FromDate | date : 'mediumDate' }} @ {{ GetSchedule() }}" />
            </md-form-field>
          </div>
        </ng-template>
        <div *ngIf="model.Price != null && model.Price > 0">
          <md-form-field class="shortText">
            <input id="txtPrice" readonly mdInput placeholder="Price" value="{{ DL.CURRENCY }} {{ model.Price | number:'1.2-2' }}" />
          </md-form-field>
        </div>
        <div>
          <md-form-field class="shortText">
            <input id="txtQuantity" readonly mdInput placeholder="{{ model.BookingType == DL.BOOKING_TYPE_DAY ? 'Number of days' : 'Number of hours' }}" value="{{ getCount() }}" />
          </md-form-field>
        </div>
        <div *ngIf="model.Price != null && model.Price > 0">
          <md-form-field class="shortText">
            <input id="txtTotal" readonly mdInput placeholder="Total" value="{{ DL.CURRENCY }} {{ getCount() * model.Price | number:'1.2-2' }}" />
          </md-form-field>
        </div>
        <div>
          <md-form-field class="longText">
            <input id="txtMember" readonly mdInput placeholder="Member" [(ngModel)]="selectedMember.Name" />
          </md-form-field>
        </div>
        <div>
          <md-form-field class="fullWidth">
            <input id="txtNote" mdInput placeholder="Note" [(ngModel)]="note" />
          </md-form-field>
        </div>
      </ng-template>
      <div class="hSpacer"></div>
      <div class="mainColor">
        <ng-container *ngIf="!isReserving; else controlReserving;">
          <button md-raised-button [disabled]="!CanAdd()" (click)="ShowReserve()">
            <md-icon>done</md-icon>
            <span>Reserve</span>
          </button>
        </ng-container>
        <ng-template #controlReserving>
          <div *ngIf="isReserving && DL.HasMissingProfileData()" class="bad warning">
            {{ DL.MSG_MISSING_PROFILE_DATA }}
          </div>
          <div>
            <button md-raised-button (click)="HideReserve()">
              <md-icon>assignment_return</md-icon>
              <span>Cancel</span>
            </button>
            <button md-raised-button [disabled]="!FromDate || !ToDate || !CanAdd()" (click)="Reserve()">
              <md-icon>done_all</md-icon>
              <span>Confirm</span>
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div class="rightRow mainColor">
  <button md-raised-button (click)="LoadList()" mdTooltip="Go to reservation" mdTooltipPosition="above">
    <md-icon>event</md-icon>
    <span>Go to reservation</span>
  </button>
</div>