<div>
  <div class="item">
    <div class="itemHeader">
      <div class="itemName">Borrowed</div>
    </div>
    <div class="subContent">
      <table>
        <thead>
          <tr>
            <th>
              Product
            </th>
            <th>
              QTY
            </th>
            <th>
              Borrow
            </th>
            <th>
              Return
            </th>
            <th class="rightRow">
              Action
            </th>
          </tr>
        </thead>
        <ng-container *ngFor="let info of borrowInfos">
          <tr class="{{ IsDue(info) ? 'bad' : '' }}">
            <td>
              {{ info.Name }}
            </td>
            <td>
              {{ info.Count }}
            </td>
            <td>
              {{ GetDate(info.ActionDate) | date : 'short' }}
            </td>
            <td>
              {{ GetDay(info.ReturnDate) | date : 'yyyy-MM-dd' }}
            </td>
            <td class="rightRow">
              <button md-mini-fab color="warn" [disabled]="!DL.UserAccess.BorrowDelete" (click)="Delete(info)" mdTooltip="Delete" mdTooltipPosition="above"><md-icon>delete</md-icon></button>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
  <div>
    <md-select [disabled]="!isNew" class="longText" placeholder="Member" [(ngModel)]="selectedMember" (change)="UserSelected()">
      <md-option *ngFor="let member of this.DL.UserAll" [value]="member">
        {{ member.Name }}
      </md-option>
    </md-select>
  </div>
  <ng-container *ngIf="selectedMember != null">
    <div class="vSmallSpacer"></div>
    <div>
        Address: {{ contactInfo.Value1 }}
    </div>
    <div>
        Contact: {{ contactInfo.Value2 }}
    </div>
  </ng-container>
  <div class="vSmallSpacer"></div>
  <div>
    <md-select class="longText" placeholder="Product" [(ngModel)]="selectedProduct" (change)="ProductSelected()">
      <md-option *ngFor="let product of DL.ProductBorrow" [value]="product">
        {{ product.Description }} ({{ product.Code }})
      </md-option>
    </md-select>
  </div>
  <div class="vSmallSpacer"></div>
  <div>
    <md-select placeholder="Quantity" [(ngModel)]="selectedQuantity">
      <md-option *ngFor="let quantity of quantities" [value]="quantity">
        {{quantity}}
      </md-option>
    </md-select>
  </div>
</div>
<div class="vSmallSpacer"></div>
<div>
  <md-form-field class="date">
    <input mdInput [mdDatepicker]="from" placeholder="Return Date" [(ngModel)]="returnDate">
    <md-datepicker-toggle mdSuffix [for]="from"></md-datepicker-toggle>
    <md-datepicker #from></md-datepicker>
  </md-form-field>
</div>
<div class="hSpacer"></div>
<table>
  <tr class="rightRow">
    <td>
      <button md-fab (click)="AddItem()" [disabled]="!CanAdd()" mdTooltip="Add" mdTooltipPosition="above"><md-icon>note_add</md-icon></button>
    </td>
    <td>
      <button *ngIf="CanSave()" md-fab (click)="Save()" mdTooltip="Save" mdTooltipPosition="above"><md-icon>save</md-icon></button>
      <button md-fab (click)="LoadList()" mdTooltip="Back to list" mdTooltipPosition="above"><md-icon>assignment_return</md-icon></button>
    </td>
  </tr>
</table>