<div>
  <div class="mainColor">
    <button md-raised-button (click)="DA.LogInWithFacebook()" mdTooltip="Use Facebook account to login" mdTooltipPosition="above">
      <md-icon>public</md-icon>
      <span>Log In with Facebook</span>
    </button>
  </div>
  <div class="vSmallSpacer"></div>
  <div>
    <div class="item">
      <div class="itemHeader">
        <div class="itemName">Credentials</div>
      </div>
      <div class="subContent">
        <div>
          <md-form-field class="longText">
            <input mdInput [(ngModel)]="email" placeholder="Email" [formControl]="emailFormControl">
            <md-error *ngIf="emailFormControl.hasError('pattern')">
              Please enter a valid email address
            </md-error>
            <md-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
        <div>
          <md-form-field (keyup.enter)="LoginEnter()">
            <input mdInput [(ngModel)]="password" type="password" placeholder="Password" [formControl]="passwordFormControl">
            <md-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>
        <div class="mainColor">
          <button md-raised-button #login [disabled]="emailFormControl.invalid || passwordFormControl.invalid" (click)="Login()" mdTooltip="Login" mdTooltipPosition="above">
            <md-icon>lock_open</md-icon>
            <span>Log In</span>
          </button>
        </div>
      </div>
      <div class="vSmallSpacer"></div>
    </div>
  </div>
  <div class="rightRow mainColor">
    <button md-raised-button (click)="Signup()" mdTooltip="Create new Account" mdTooltipPosition="above">
      <md-icon>supervisor_account</md-icon>
      <span>Create new account</span>
    </button>
  </div>
</div>