<div>
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
        <th class="rightRow">
          Action
        </th>
      </tr>
    </thead>
    <ng-container *ngFor="let item of DL.Accesses">
      <tr>
        <td>
          {{item.Name}}
        </td>
        <td>
          {{item.Description}}
        </td>
        <td class="rightRow">
          <button md-mini-fab (click)="SelectItem(item)" mdTooltip="View"><md-icon>pageview</md-icon></button>
        </td>
      </tr>
    </ng-container>
  </table>
  <div class="hSpacer"></div>
  <table>
    <tr class="rightRow">
      <td>
        <button md-fab [disabled]="!DL.UserAccess.AccessAdd" (click)="AddItem()" mdTooltip="Add" mdTooltipPosition="above"><md-icon>note_add</md-icon></button>
      </td>
    </tr>
  </table>
</div>