<div>
  <table>
    <thead>
      <tr>
        <th>
          Description
        </th>
        <th class="totalColumn">
          Price / QTY
        </th>
        <th class="totalColumn">
          Total
        </th>
        <th class="rightRow">
          Action
        </th>
      </tr>
    </thead>
    <ng-container *ngFor="let info of DL.UserSelected.Sells">
      <tr class="{{ info.ForDelete ? 'bad' : '' }}">
        <td>
          {{info.Description}}
        </td>
        <td class="totalColumn">
          {{ info.Price | number:'1.2-2' }} x {{ info.Quantity }}
        </td>
        <td class="totalColumn">
          {{info.Total | number:'1.2-2'}}
        </td>
        <td class="rightRow">
          <ng-container *ngIf="info.Price">
            <button md-mini-fab color="primary" *ngIf="!DL.UserAccess.SellDelete" [disabled]="info.ForDelete" (click)="RequestDelete(info)" mdTooltip="Request Delete" mdTooltipPosition="above"><md-icon>remove_shopping_cart</md-icon></button>
            <button md-mini-fab color="warn" *ngIf="DL.UserAccess.SellDelete" (click)="Delete(info)" mdTooltip="Delete" mdTooltipPosition="above"><md-icon>delete</md-icon></button>
          </ng-container>
        </td>
      </tr>
    </ng-container>
    <tr class="blankCell">
      <td>
        Total
      </td>
      <td class="totalColumn">
        {{ DL.SellInfosCount }}
      </td>
      <td class="totalColumn">
        {{ DL.SellInfosAmount | number:'1.2-2'}}
      </td>
      <td></td>
    </tr>
  </table>
  <div class="hSpacer"></div>
  <ng-container *ngIf="!isPaying;else showPaying">
    <table [hidden]="!DL.UserAccess.SellAdd">
      <tr class="rightRow">
        <td class="selectionRow" style="width: 60%">
          <md-select class="sellLongTextRes" placeholder="Product" [(ngModel)]="model" (change)="ProductSelected()">
            <md-option *ngFor="let product of DL.ProductSelections" [value]="product">
              {{ product.Description }} ({{ product.Code }})
            </md-option>
          </md-select>
          <span [hidden]="isDiscount">
          <md-select placeholder="Quantity" [(ngModel)]="selectedQuantity">
            <md-option *ngFor="let quantity of quantities" [value]="quantity">
              {{quantity}}
            </md-option>
          </md-select>
          </span>
          <span [hidden]="!isDiscount">
            <md-form-field class="shortText">
              <input id="txtPrice" type="number" mdInput placeholder="Discount" [(ngModel)]="discountPrice" />
            </md-form-field>
          </span>
        </td>
        <td class="selectionRow">
          <md-checkbox [(ngModel)]="isDelivery">Delivery</md-checkbox>
          <md-select placeholder="Member" [(ngModel)]="selectedMember">
            <md-option *ngFor="let member of this.DL.MemberSelections" [value]="member">
              {{ member.Name }}
            </md-option>
          </md-select>
        </td>
      </tr>
      <tr class="rightRow">
        <td>
          <button md-fab [disabled]="!CanAdd()" (click)="AddProduct()" mdTooltip="Add to cart" mdTooltipPosition="above"><md-icon>add_shopping_cart</md-icon></button>
        </td>
        <td>
          <button md-fab [disabled]="!DL.SellInfosCount" (click)="CartClose()" mdTooltip="Close Cart" mdTooltipPosition="above"><md-icon>done</md-icon></button>
        </td>
      </tr>
    </table>
  </ng-container>
  <ng-template #showPaying>
    <table [hidden]="!DL.UserAccess.SellAdd">
      <tr class="rightRow">
        <td class="selectionRow">
          <md-checkbox disabled [(ngModel)]="isDelivery">Delivery</md-checkbox>
          <md-form-field class="longText">
            <input mdInput placeholder="Member" readonly value="{{ selectedMember.Name }}">
          </md-form-field>
        </td>
      </tr>
      <tr class="rightRow">
        <td>
          <button md-fab (click)="CartOpen()" mdTooltip="Modify Cart" mdTooltipPosition="above"><md-icon>assignment_return</md-icon></button>
          <button md-fab [disabled]="!DL.SellInfosCount" (click)="CartDone()" mdTooltip="Done" mdTooltipPosition="above"><md-icon>done_all</md-icon></button>
        </td>
      </tr>
    </table>
  </ng-template>
</div>