<div>
  <div class="item">
    <div class="itemHeader">
      <div class="itemName">Generated Report</div>
    </div>
    <div class="subContent">
      <table>
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              From
            </th>
            <th>
              To
            </th>
            <th class="rightRow">
              Action
            </th>
          </tr>
        </thead>
        <ng-container *ngFor="let item of DL.SubscriptionQuotas">
          <tr>
            <td>
              {{ item.SubscriptionName }}
            </td>
            <td>
              {{ GetDay(item.From) | date : 'yyyy-MM-dd' }}
            </td>
            <td>
              {{ GetDay(item.To) | date : 'yyyy-MM-dd' }}
            </td>
            <td class="rightRow">
              <button md-mini-fab (click)="SelectItem(item)" mdTooltip="View"><md-icon>pageview</md-icon></button>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</div>
<div>
  <md-form-field class="date">
    <input mdInput [disabled]="!DL.UserAccess.ShowcaseScheduleAdd" [mdDatepicker]="from" placeholder="From Date" [(ngModel)]="FromDate">
    <md-datepicker-toggle mdSuffix [for]="from"></md-datepicker-toggle>
    <md-datepicker #from></md-datepicker>
  </md-form-field>
</div>
<div>
  <md-form-field class="date">
    <input mdInput [disabled]="!DL.UserAccess.ShowcaseScheduleAdd" [mdDatepicker]="to" placeholder="To Date" [(ngModel)]="ToDate">
    <md-datepicker-toggle mdSuffix [for]="to"></md-datepicker-toggle>
    <md-datepicker #to></md-datepicker>
  </md-form-field>
</div>
<div>
  <md-select class="longText" placeholder="Purchase Report For" [(ngModel)]="model">
    <md-option *ngFor="let item of DL.SubscriptionQuotaSelection" [value]="item">
      {{ item.Name }}
    </md-option>
  </md-select>
</div>
<div class="hSpacer"></div>
<table>
  <tr class="rightRow">
    <td>
      <button md-fab (click)="Generate()" [disabled]="!DL.UserAccess.SubscriptionReportAdd || !CanGenerate()" mdTooltip="Create Report" mdTooltipPosition="above"><md-icon>note_add</md-icon></button>
    </td>
    <td>
      <button md-fab (click)="LoadList()" mdTooltip="Back to list" mdTooltipPosition="above"><md-icon>assignment_return</md-icon></button>
    </td>
  </tr>
</table>